<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='styl.css')}}">
  
</head>
<body>
    <div class="container">
        <h1>tourist-Gumuş</h1>
        <form action="#" method="post">
          <label for="adı">adı :</label>
          <input type="text" id="adı" name="adı" required>
    
          <label for="soyad">soyad :</label>
          <input type="text" id="soyad" name="soyad" required>

          <label for="email">Adres e-mail :</label>
          <input type="email" id="email" name="email" required>
    
          
          <label for="date">zaman tarıhı :</label>
          <input type="date" id="date" name="date" required>
    
          <label for="guests">kişi sayı:</label>
          <input type="number" id="guests" name="guests" min="1" required>

         
          <a href="{{url_for('index')}}"></a>

      <button type="submit">kayıt</button>  
       
    </form>
</body>
</html>